@using TamFinansCase.Entites.Concrete
@model List<Book>
@{
    ViewBag.Title = "GetList";
}

<h2>Kitap Listeleme</h2>
<br />

<table class="table table-hover">
    <tr>
        <td>Kitap Id</td>
        <td>Kategori Adı</td>
        <td>Kitap Yazarı</td>
        <td>Kitap Adı</td>
        <th>Sil</th>
        <th>Güncelle</th>
        <td>Durum</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookId</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.WriterName</td>
            <td>@item.BookName</td>
            <td><a href="/Book/DeleteBook/@item.BookId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Book/UpdateBook/@item.BookId" class="btn btn-warning">Güncelle</a></td>
            <td>@item.IsDeleted</td>
        </tr>
    }
</table>

<a href="/Book/AddBook" class="btn btn-info">Yeni Kitap</a>


