@model TamFinansCase.Entites.Concrete.Book
@{
    ViewBag.Title = "UpdateBook";
    Layout = "~/Views/Shared/_TamLayout.cshtml";
}

<h3>Kitap Güncelleme Sayfası</h3>
<br />

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post,
        new
        {
            @class = "form-horizontal",
            enctype = "multipart/form-data"
        }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-6 offset-3">

        <div class="form-group">
            @Html.HiddenFor(x => x.BookStatus)
            @Html.HiddenFor(x => x.BookId)

            @Html.LabelFor(x => x.BookName)
            @Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.BookName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.Label("Kategori")
            @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, "Kategori Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.WriterName)
            @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
        </div>

        <button class="btn btn-info" id="btn2" style="float:right">Güncelle</button>
        <br>
        <div>
            @Html.ActionLink("Listeye Geri Dön", "GetList", "Book")
        </div>


    </div>

    <script>
        $('#btn2').click(function () {
            swal("Tebriklerr!", "Başarılı bir şekilde güncellendi!", "success");
        })
    </script>


}


