@model TamFinansCase.Entites.Concrete.Book
@{
    ViewBag.Title = "UpdateBook";
}

<h2>Kitap Güncelleme Sayfası</h2>

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post))
{

<div class="form-group">
    @Html.HiddenFor(x => x.BookId)
    @Html.HiddenFor(x => x.IsDeleted)
   
    @Html.Label("Kitap Adı", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.BookName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BookName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar Adı", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Kategori", new { @class = "form-control" })
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}

